body {
  overflow-x: hidden;
    font-family: 'Press Start 2P', sans-serif;
    background: black;
    color: gainsboro;
}

::-webkit-scrollbar {
  background-color:black;

}

::-webkit-scrollbar-corner {
  background-color:black;
}

/* ----- NAV BAR ----- */

.navbar {
  background-color: black;
  
}

/* ----HEADER----- */

.header {
  text-align: center;
  
  background-color: black;
  margin-top: 10%;
  
}

/* ----- FOOTER ----- */

footer{
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;   
}

.hereLink {
  color:gainsboro
}

.hereLink:hover {
  color:gainsboro
}
